

  <section class="task-list">
    <h1><%= @task_lists.name %></h1>
    <% @task_lists.tasks.each do |task| %>

      <p><%= task.task_name %></p>
      <%= link_to "Delete", task_list_task_path(@task_lists, task), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  </section>
